* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F0F4F8;
}

hr {
    border: none;
    height: 2px;
    background-color: #1E3A8A;
    margin: 40px auto; 
    width: 80%; 
}


.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1E3A8A;
}

.content {
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    width: 60%;
}

.container header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.container header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-right: 200px;
}

.container header ul li {
    list-style: none;
    margin-left: 10px;
}

.container header ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.container main {
    display: flex;
    justify-content: column;
    align-items: flex-start;
    padding: 10px;
}

.container main .content {
    margin-left: 200px;
}

.container main .content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #1E3A8A;
    margin-bottom: 10px;
    padding-top: 100px;
    padding-bottom: 10px;

}

.container main .content p {
    font-size: 16px;
    color: #1E293B;
    font-size: 18px;
}

.container main .image {
    margin-left: 200px;
}

.container main .image img {
    width: 300px;
}

.container .skills {
    margin-left: 200px;
}

.container .skills h2 {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.skills ul li {
    display: flex;
    flex-direction: column;
}

.skills ul li:nth-child(odd) {
    align-self: flex-start;
}

.skills ul li:nth-child(even) {
    align-self: flex-end;
}

.skills ul li img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.skills ul li p {
    font-size: 16px;
    color: #1E293B;
    line-height: 1.5;
    max-width: 600px;
    margin-top: 10px;
}

